{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<!-- add your code here! You can delete the following <div> -->
<div class="container">
	<h1>Welcome to flask-strap!</h1>
	<h3><font color="orange">flask-strap is a simple place to get started when developing any user-driven website with python.</font></h3>
	<h3>flask-strap was not built by one individual. Rather, it is a compilation of various python, HTML5, and CSS3 libraries and code-snippets scattered across the web.</h3>
	<h3><strong>Here are some of the libraries and packages used:</strong></h3>
	<ul>
		<li><a href="http://flask.pocoo.org/">Flask: a python microframework</a></li>
		<li><a href="http://getbootstrap.com/">Bootstrap: a responsive front-end framework</a></li>
		<li><a href="http://pythonhosted.org/Flask-SQLAlchemy/">Flask-SQLAlchemy: an easy way to manage relational databases</a></li>
		<li><a href="https://flask-wtf.readthedocs.org/en/latest/">Flask-WTForms: a simple solution to managing web-forms</a></li>
		<li><a href="https://flask-login.readthedocs.org/en/latest/">Flask-Login: an intuitive way to log users in and out</a></li>
		<li><a href="http://pythonhosted.org/Flask-Bcrypt/">Flask-Bcrypt: a way to hash passwords for safe storage</a></li>
	</ul>
	<h3><strong>Here are sources from which code was generously provided:</strong></h3>
	<ul>
		<li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">"The Flask Mega-Tutorial"</a> by Miguel Grinberg</li>
			<p>Much of flask-strap is based on the Mega-Tutorial, including views, models, and templates. Great place to learn Flask.</p>
		<li><a href="http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel">"Login & Signup forms in panel"</a> by calvinko</li>
			<p>A great login/signup form</p>
		<li><a href="http://www.shea.io/lightweight-python-apps-with-flask-twitter-bootstrap-and-heroku/">"Lightweight Python Apps with Flask, Bootstrap, and Heroku"</a> by Ryan Shea</li>
			<p>A simple yet effective tutorial on using Bootstrap, git, Heroku, and Flask</p>
	</ul>
</div>
{% endblock %}
